<div *ngFor="let product of myProductStore, let i = index">
  <div class="my-card-wrapper m-1 " style="width: 18rem;">
    <img class="card-img-top "
         src="https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?cs=srgb&dl=pexels-pixabay-45201.jpg&fm=jpg"
         alt="Card image cap">
    <div class="w-100">
      <h5 class="card-title">{{product.title}}</h5>
      <h5 class="card-title">{{product.price | currency:'EUR'}}</h5>
      <p class="card-text my-overflow mt-1">{{product.category}}, {{product.inStock}}</p>
      <div class="d-flex justify-content-evenly my-btn-container">
        <div class="bottone d-flex w-100 justify-content-evenly mt-2">
          <p class="btn btn-success w-25" data-toggle="tooltip" data-placement="right" title="aggiungi al carrello"
             (click)="emitProduct(product)"><i class="fa-solid fa-cart-plus"></i></p>
          <p class="btn btn-danger w-25" data-toggle="tooltip" data-placement="right" title="elimina prodotto"
             (click)="emitIndex(i)"><i class="fa-solid fa-trash"></i></p>
          <i class="btn w-25 btn-primary" data-toggle="tooltip" data-placement="right" title="dettagli prodotto"
             (click)="redirectToDetail(product)"><i class="fa-solid fa-info"></i></i>
        </div>
      </div>
    </div>
  </div>
</div>
