
.my-card-wrapper{

  border-radius: 10px;
  box-shadow: 0 0 14px #464646;
  img{
    border-radius: 10px 10px 0 0;
    padding:10px;
  }
  h5{
    padding-left: 10px;
    margin-top: 2px;
  }
  p{
    margin:0;
    padding-inline: 10px;
  }
}
.my-btn-container{
  height: auto;
}

.bottone{
  padding: 5px;
}

.my-overflow{
overflow-wrap: break-word;
}
