<div class="my-card-wrapper m-1" style="width: 18rem;">
  <img class="card-img-top " src="https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?cs=srgb&dl=pexels-pixabay-45201.jpg&fm=jpg" alt="Card image cap">
  <div class="">
    <h5 class="card-title">nome</h5>
    <p class="card-text">descrizione</p>
    <div class="d-flex justify-content-between my-btn-container">
      <p  class="btn btn-success"  data-toggle="tooltip" data-placement="right" title="aggiungi al carrello"><i class="fa-solid fa-cart-plus"></i></p>
      <p  class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="elimina prodotto"><i class="fa-solid fa-trash"></i></p>
    </div>
  </div>
</div>
