<div *ngFor="let product of myCartStore, let i = index" class="d-flex">
    <div>
      <div class="img-container">
      </div>
      <div class="scritte-container">
        <h3>{{product.title}}</h3>
        <h3>{{product.price}}</h3>
        <h3>{{product.category}}</h3>
        <h3>{{product.inStock}}</h3>
        <p  class="btn btn-danger w-25" data-toggle="tooltip" data-placement="right" title="elimina prodotto" (click)="cartService.deleteFromCart(i)"><i class="fa-solid fa-trash"></i></p>
        <hr>
      </div>
    </div>
</div>



