<div *ngFor="let product of myCartStore, let i = index" class="d-flex">
    <div class="d-flex my-cart-wrapper">
      <div class="img-container">
        <img src="https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?cs=srgb&dl=pexels-pixabay-45201.jpg&fm=jpg">
      </div>
      <div class="scritte-container d-flex flex-column">
        <h3>{{product.title}}</h3>
        <h3>{{product.price}}</h3>
        <h3>{{product.category | categoryPipe}}</h3>
        <h3>{{product.inStock}}</h3>
        <div  class="btn btn-danger " data-toggle="tooltip" data-placement="right" title="elimina prodotto" (click)="cartService.deleteFromCart(i)"><i class="fa-solid fa-trash"></i></div>
      </div>
    </div>
</div>



