.my-btn{
  padding: 6px 9px;
  border-radius: 8px;

}
.my-red{
  background-color: #d71616;
}
.my-blue{
  background-color: #174dce;
}
.my-green{
  background-color: #25b70f;
}
.my-yellow{
  background-color: #ffd133;
}
