<form [formGroup]="myFormProduct" class="my-form-wrapper">
  <div class="form-group">
    <label for="title">product name</label>
    <input formControlName="title" type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="enter the name of the products">
    <small  class="form-text text-muted">UwU</small>
  </div>
  <div class="form-group">
    <label for="price">price</label>
    <input formControlName="price" type="number" class="form-control" id="price" placeholder="enter price">
    <small  class="form-text text-muted">pwease wenter a pwice ower 0 UwU</small>
  </div>
  <div class="form-group d-flex flex-column">
    <label for="category">select category</label>
    <select formControlName="category" name="category" id="category" class="my-select">
      <option  [selected]="!myFormProduct.get('category')?.value"  disabled selected>choose an option</option>
      <option [ngValue]="0" value="0">books</option>
      <option [ngValue]="1" value="1">eletronics</option>
      <option [ngValue]="2" value="2">beauty</option>
      <option [ngValue]="3" value="3">fashion</option>
    </select>
  </div>
  <div class="form-group">
    <label for="inStock">how many</label>
    <input formControlName="inStock" type="number" class="form-control" id="inStock" placeholder="enter stockpile">
    <small  class="form-text text-muted">pwease wenter a stwock nwumber ower 0 UwU</small>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="emitProduct()">confirm</button>
  </div>
</form>
